<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: #f4f4f9;
    }

    .navbar {
        background-color: #ffffff;

        height: 60px;
        padding: 0 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.562);
    }

    .navbar a {
        color: rgb(66, 75, 83);
        margin-left: 20px;
        font-size: 22px;
        text-decoration: none;
    }

    .navbar a:hover {
        color: rgb(131, 116, 228);
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        background: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.356);
        text-align: center;
        width: 100%;
        max-width: 400px;
    }

    .profile-picture img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 2px solid #ddddddc5;
    }

    h2 {
        font-size: 24px;
        color: #333333;
    }

    h3 {
        font-size: 20px;
        color: #666666;
    }



    .btn,
    .button2 {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 5px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        background-color: slateblue;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn:hover,
    .button2:hover {
        background-color: rgb(131, 116, 228);
    }
</style>

<body>
    <div class="navbar">
        <a href="#">Hexashop</a>
        <div>
            <a href="/home">Home</a>
            <a href="/addProdcut">Add Product</a>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="profile-picture">
                <img src="http://localhost:3000/uploads/<%= user.image %>" alt="Profile Picture">
            </div>
            <h2 class="myname">
                <%= user.username %>
            </h2>
            <h3 class="email">
                <%= user.email %>
            </h3>
            <p class="tagline">Keep going.</p>
            <p class="description">Lorem, ipsum dolor..</p>
            <a href="#" class="btn">Visit Profile</a>
            <a href="/logout" class="button2">Logout</a>
        </div>
    </div>
</body>

</html>